
@{
    ViewData["Title"] = "SiparisTamam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center">Siparisiniz alındı ...Yakında Kargoya Verilecek ..Avansas İyi Alışverisler Diler</h1>

