@model AvansasProject2.MODEL.Models.Product

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-oval-button {
        border-radius: 20px;
        padding: 5px 10px;
    }

    .custom-primary-button, .custom-success-button {
        border-radius: 20px;
    }

    .custom-form-container {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;
        text-align: center;
    }

    .custom-form-label {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .custom-file-input {
        display: inline-block;
        padding: .375rem .75rem;
        margin-bottom: 10px;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .custom-button-group {
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
    }

    .custom-image-input {
        display: block;
        margin: 10px auto;
    }
</style>

<h1 class="text-center">Ürün Ekleme Sayfası</h1>

<h4 class="text-center"></h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-6 custom-form-container">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="custom-form-label" asp-for="Title">Başlık   </label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="custom-form-label" asp-for="Description">Tanım  </label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="custom-form-label" asp-for="Price">Ücret   </label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group custom-image-input">
                <label class="custom-form-label">Fotoğraf</label>
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" asp-for="Image" class="custom-file-input" />
                        <label asp-for="Image" class="custom-file-label">Choose file</label>
                    </div>
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHome" /> Anasayfa
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsStock" /> Stokta
                </label>
            </div>
            <div class="form-group">
                <label class="custom-form-label" asp-for="CategoryId">Kategori  </label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group custom-button-group">
                <input type="submit" value="Create" class="btn btn-success custom-oval-button" />
                <a asp-action="Index" class="btn btn-primary custom-oval-button">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
